name: Auto Commit

on:
  schedule:
  - cron: '1 * * * *'

  workflow_dispatch:

jobs:
  commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run commit script
        run: |
           git config --global user.email "mohamed.ari1301@gmail.com"
           git config --global user.name "mohamedari1301-cyber"
           git commit --allow-empty -m "OOps a commit `date +'%Y-%m-%d %H:%M:%S'`" 
           git push origin main
